<div class="center flex-column" style="margin-top: 20px">
  <!--<app-video-check
    [width]="380"
    [height]="400"
    (photo)="getImage($event)"
    [time]="1"
    [actionSection]="false"
  ></app-video-check>
  <ng-container *ngIf="msjStatus != null">
    <div
      class="alert alert-success mt-3"
      role="alert"
      *ngIf="msjStatus == true"
    >
      Binevenido
    </div>
    <div
      class="alert alert-danger mt-3"
      role="alert"
      *ngIf="msjStatus == false"
    >
      Rostro no encontrado
    </div>
  </ng-container>-->
  <app-scan-document></app-scan-document>
</div>
