<div class="wrapper">
  <div class="header">
    <div class="in-header">
      <div>Icon</div>

      <div>APP RECONOCIMIENTO FACIAL CON ANGULAR</div>
    </div>
  </div>

  <div class="block-main">
    <div class="cam">
      <app-video-player [stream]="currentStream" [width]="dimentions.width" [height]="dimentions.height"></app-video-player>
    </div>

    <div class="sidebar">
      <div class="zone-body">
        <div class="block">block 1</div>
        <div class="block">block 2</div>
      </div>

      <div class="zone-btn">
        <ul class="list-btn">
          <li *ngFor="let btn of [1,1,1]">
            icon
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
