/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

  //background-image: linear-gradient(to right bottom, #040404, #0c0b0d, #121114, #161619, #1a1a1e);
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}


